<%- include('layout/header') %>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h3 class="text-light">Add New User</h3>
            </div>
            <div class="card-body p-4">
                <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control form-control-lg" placeholder="Enter Name" required/>
                    </div>
                    <div class="mb-3"> 
                        <label for="email">Email ID</label>
                        <input type="text" name="email" class="form-control form-control-lg" placeholder="Enter Mail ID" required/>
                    </div>
                    <div class="mb-3">
                        <label for="phone">Phone Number</label>
                        <input type="tel" name="phone" class="form-control form-control-lg" placeholder="Enter phone number" required/>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Select Images</label>
                        <input type="file" name="image" class="form-control form-control-lg" required/>
                    </div>
                    <div class="mb-3 d-grid">
                        <input type="submit" value="Add User" class="btn btn-primary btn-lg">
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
<%- include('layout/footer') %>